<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Welcome!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 text-center>Your IoT hub.</h3>

  <!-- |||||||||||||||||||||||||||| Create account form ||||||||||||||||||||||||||||||| -->
  <div text-center>
    <div *ngIf="this.showRegister">
      <form #reqForm="ngForm" (ngSubmit)="this.registerRequest()">
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="this.registerForm.firstName" #firstname="ngModel" name="firstname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Lastname</ion-label>
          <ion-input type="text" [(ngModel)]="this.registerForm.lastName" #lastname="ngModel" name="lastname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Birth</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="this.registerForm.birth" #birth="ngModel" name="birth" required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" [(ngModel)]="this.registerForm.email" #email="ngModel" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="this.registerForm.password" #password="ngModel" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="this.registerForm.role" name="role" required>
            <ion-option *ngFor=" let role of this.roleOptions" value="{{role.roleId}}">{{role.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input type="text" [(ngModel)]="this.registerForm.phone" #phone="ngModel" name="phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="this.registerForm.country" name="country" required>
            <ion-option *ngFor=" let country of this.countryOptions" value="{{country.name}}">{{country.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Address</ion-label>
          <ion-input type="text" [(ngModel)]="this.registerForm.address" #address="ngModel" name="address" required></ion-input>
        </ion-item>

        <button [disabled]="!reqForm.valid" ion-button type="submit" block>Submit</button>

        <div *ngIf="!reqForm.valid && reqForm.touched">
          <ion-label>
            Please, fill all the fields before proceeding!
          </ion-label>
        </div>
        <div *ngIf="this.registerError">
          <ion-label>
            {{this.registerError}}
          </ion-label>
        </div>
      </form>
    </div>

    <!-- ||||||||||||||||||||||| Login form ||||||||||||||||||||||||||||| -->

    <div text-center>
      <div *ngIf="this.showLogin">
        <form #logForm="ngForm" (ngSubmit)="this.loginRequest()">
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text" [(ngModel)]="this.loginForm.email" #email="ngModel" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="this.loginForm.password" #password="ngModel" name="password" required></ion-input>
          </ion-item>

          <button [disabled]="!logForm.valid" ion-button type="submit" block>Submit</button>

          <div *ngIf="!logForm.valid && logForm.touched">
            <ion-label>
              Please, fill all the fields before proceeding!
            </ion-label>
          </div>
        </form>
      </div>
    </div>

    <button ion-button outline (click)="this.openLogin()">
      Login
    </button>

    <button ion-button outline color="confirm" (click)="this.openRegister()">
      Create account
    </button>
  </div>
</ion-content>