<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header-info">
    <h4 text-center>This is your summary</h4>
  </div>

  <ion-item *ngFor="let alert of alerts">
    {{alert.name}}: {{alert.task}}
    <ion-badge *ngIf="alert.status === 'Idle'" color="danger" item-end>{{alert.status}}</ion-badge>
    <ion-badge *ngIf="alert.status === 'Running'" item-end>{{alert.status}}</ion-badge>
  </ion-item>

  <div [ngSwitch]="this.hasAlerts">
    <div *ngSwitchCase="false">
      <h5 text-center class="no-news">There's no news :)</h5>
      <img src="../../assets/images/house-icon-OK-24fps.gif" class="home-icon" alt="Everything's alright">
    </div>
    <img *ngSwitchCase="true" src="../../assets/images/house-icon-24fps.gif" class="home-icon" alt="See your alerts">
  </div>
</ion-content>